<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/excadm/workshop/logs/workshop-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/home/excadm/workshop/logs/workshop-logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DAO-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/excadm/workshop/logs/workshop-logback-dao.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/home/excadm/workshop/logs/workshop-logback-dao.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.icd" level="debug" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="com.icd.wksh.daos" level="debug" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="DAO-FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>
